*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:IN-filtered-ssh - [0:0]

# Allow established connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# SSH filtering
-A INPUT -p tcp -m tcp --dport 22 -j IN-filtered-ssh
{% for allowed_ip in ssh_allowed_ips %}
-A IN-filtered-ssh -s {{ allowed_ip }} -j ACCEPT -m comment --comment "Allowed IP: {{ allowed_ip }}"
{% endfor %}
-A IN-filtered-ssh -j DROP

# Allow ping for network diagnostics
-A INPUT -p icmp --icmp-type echo-request -j ACCEPT

# Drop everything else
-A INPUT -j DROP
COMMIT