{
  "url": "{{ infisical_url }}",
  "clientId": "{{ infisical_client_id }}",
  "clientSecret": "{{ infisical_client_secret }}",
  "projectId": "{{ infisical_project_id }}",
  "environment": "{{ infisical_env_slug }}",
  "secretsPath": "{{ infisical_secrets_path }}"
}